# Cache
__pycache__
code/.ipynb_checkpoints/

# Datasets and results (except defenses/results/)
data/
results/
!defenses/results/



# anything inside large_files
large_files/*

# anything inside script_logging
script_logging/*

# anything inside run_files and job_executer_files
run_files/*
job_executer_files/*